

:root {

    /**
     * colors
     */
  
    --blue-green-color-wheel_60: hsla(165, 77%, 17%, 0.6);
    --blue-green-color-wheel_10: hsla(165, 77%, 17%, 0.1);
    --blue-green-color-wheel: hsl(165, 77%, 17%);
    --black-chocolate: hsl(32, 24%, 14%);
    --spanish-gray: hsl(210, 3%, 62%);
    --orange-web: hsl(38, 100%, 50%);
    --davys-gray: hsl(213, 5%, 34%);
    --light-gray: hsl(0, 0%, 80%);
    --msu-green: hsl(165, 77%, 15%);
    --cultured: hsl(30, 22%, 96%);
    --white_15: hsl(0, 0%, 100%, 0.15);
    --white: hsl(0, 0%, 100%);
    --onyx: hsl(210, 10%, 23%);
  
    /**
     * typography
     */
  
}
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  
  
  #logomain{
    display:flex;
    height: 40.2x;
    width: 200px;
    
  }
  
  
  
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  
  
  
 
  html {
    font-family: var(--ff-montserrat);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(#00a1a3);
    color: var(--davys-gray);
    font-size: 1.6rem;
    line-height: 1.75;
  }
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .btn {
    color: var(--white);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    max-width: max-content;
    padding: 8px 20px;
    border-radius: var(--radius-50);
    transition: var(--transition-1);
  }
  
  .btn-primary,
  .btn-secondary:is(:hover, :focus) { background-color: var(--blue-green-color-wheel); }
  
  .btn-secondary,
  .btn-primary:is(:hover, :focus) { background-color: var(--orange-web); }
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 15px;
    z-index: 4;
    transition: var(--transition-1);
  }
  
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
 
  
  
  
  .header .btn { margin-inline-start: auto; }
  
  .nav-toggle-btn {
    font-size: 40px;
    color: var(--black-chocolate);
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
    z-index: 2;
  }
  
  .infodropdown{
    float: left;
    overflow: hidden;
  }
  
  .infodropdown .infodropbtn {
    color: #2C241B;
    border: none;
    outline: none;
    padding: 13px 15px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; } 
  
    .navbar a:hover, .infodropdown:hover .infodropbtn {
      background-color:#1f6f78  ;
    }
    
    /* Dropdown content (hidden by default) */
    .infodropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .infodropdown-content a {
      float: none;
      color: 2C241B;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
   
    /* Show the dropdown menu on hover */
    .infodropdown:hover .infodropdown-content {
      display: block;
    }
  
  
  
  
  
  
  
  
  
  .navbar-link {
    color: var(--black-chocolate);
    padding: 13px 20px;
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
  }
  
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    
  
    
  
  
  
    /**
     * HEADER
     */
  
    .nav-toggle-btn,
    .overlay { display: none; }
  
    .header { padding-block: 20px; }
  
    .navbar,
    .navbar.active,
    .navbar-list,
    .navbar-item { all: unset; }
  
    .navbar { margin-inline-start: auto; }
  
    .header .btn { margin-inline-start: 0; }
  
    .navbar-list { display: flex; }
  
    
  
  
  